.button {
  display: inline-block;
  padding: 12px 10px 10px;
  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $contrast-text-color;
  background-color: $main-color;
  border: none;

  &:focus-within {
    outline: none;
    background-color: $main-color-focus;
  }

  &:hover {
    background-color: $main-color-hover;
  }

  &:active {
    color: $contrast-text-color-30;
    background-color: $main-color-hover;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
