.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 60px;
  }
}

.catalog__item {
  position: relative;
  padding: 23px 0 25px;

  @media (max-width: $mobile-width-only) {
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: calc(50% - 50vw);
      width: 100vw;
      height: 1px;
      background-color: $nav-border-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 8px 37px 39px 39px;
  }
}

.catalog__item:last-child {
  @media (max-width: $mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: calc(50% - 50vw);
      width: 100vw;
      height: 1px;
      background-color: $nav-border-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }
}
