.catalog__list {
  list-style: none;
}

.more-card__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-text-color;
}

.more-card__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.more-card__link {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $side-text-color;
  background: $accent-bg;

  &:focus {
    background: $accent-bg-hover;
  }

  &:hover {
    background: $accent-bg-hover;
  }

  &:active {
    color: $side-text-color-30;
  }
}
