.extra-card {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.extra-card__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $main-text-color;
}

.extra-card__info {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.extra-card__price {
  margin: 0;
}
