.footer {
  position: relative;
}

.footer__announcement {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    position: absolute;
    background: $contrast-text-color;
  }
}

.footer__subtitle {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.footer__address {
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.footer__info {
  background: $accent-bg;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 16px;
  line-height: 18px;
  color: $side-text-color;
}

.footer__copyright:hover {
  path {
    fill: $main-color;
  }
}

.footer__copyright:active {
  opacity: 0.3;
}
