.footer {
  position: relative;
}

.footer__container--side {
  background-color: $accent-bg;
}

.footer__announcement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 56px 37px 56px 41px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 61px;
    justify-content: start;
    background: $contrast-text-color;
    padding: 57px 80px;
  }
}

.footer__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-text-color;

  @media (min-width: $tablet-width) {
    max-width: 200px;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-right: 95px;
  }
}

.footer__address {
  font-style: normal;
  line-height: 20px;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    margin-right: 3px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.footer__address-city {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 23px;
  }
}

.footer__map iframe {
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.footer__info {
  background-color: $accent-bg;
}

.footer__wrapper {
  padding: 39px 0 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0 55px;
  }
}

.footer__wrapper--catalog {
  @media (min-width: $tablet-width) {
    padding: 48px 0 55px;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 22px;
  padding: 22px 0 20px;
  border-top: 1px solid $footer-border-color;
  border-bottom: 1px solid $footer-border-color;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 0 0 0 37px;
    margin: 0;
    border: none;
  }
}

.footer__socials-list--catalog {
  padding: 16px 0 14px;

  @media (min-width: $tablet-width) {
    padding: 13px 0 14px;
    margin-left: 27px;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: $side-text-color;
}

.footer__copyright svg {
  fill: $social-icons;
  margin-left: 22px;
}

.footer__copyright:hover svg {
  fill: $main-color;
}

.footer__copyright:active {
  opacity: 0.3;
}
