.header {
  position: relative;
}

.header__wrapper {
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  }
}

.header__logo {
  display: inline-block;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 0;
  }
}
