.logo[href] {
  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.logo__image {
  width: 191px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 174px;
    height: 52px;
  }
}

.logo__text {
  display: block;
  width: 128px;
  height: 24px;
}
