.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 440px;
  }

  @media (min-width: $desktop-width) {
    max-width: 478px;
  }
}

.main-nav__link {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-text-color;

  &:focus {
    outline: none;
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.6;
  }

  &--current:hover {
    text-decoration: none;
  }

  @media (min-width: $desktop-width) {
    color: $contrast-text-color;
  }
}
