.main__wrapper {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.main__title {
  font-family: $main-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $main-text-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    margin-left: 39px;
    margin-right: 39px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 56px 0;
  }
}

.main__title--form {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.main__title--catalog {
  margin-bottom: 38px;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}


.main__promo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.main__categories {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.main__features {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.main__demo {
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 59px;
  }
}

.main__aside {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 0;
  }
}

.main__catalog {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}
