.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 440px;
  }

  @media (min-width: $desktop-width) {
    max-width: 610px;
  }
}

.main-nav__link {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-text-color;
}

.main-nav__link[href] {
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--main .main-nav__link {
  @media (min-width: $desktop-width) {
    color: $contrast-text-color;
  }
}

@media (min-width: $tablet-width) {
.main-nav__link--current {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 38px;
    right: 5px;
    left: 0;
    height: 2px;
    background-color: $main-color;
  }
}
}

@media (min-width: $desktop-width) {
  .main-nav--main .main-nav__link--current {
    &::after {
      background-color: $contrast-text-color;
    }
}
}
