.main__promo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.main__categories {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.main__features {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 117px;
  }
}

.main__demo {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
