.mini-card__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $main-text-color;
}

.mini-card__info {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.mini-card__price {
  margin: 0;
}
