.program__subtitle {
  width: 226px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-text-color;

  @media (min-width: $tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}
