.program-promo {
  position: relative;
  color: $contrast-text-color;

  @media (min-width: $tablet-width) {
    color: $main-text-color;
  }
}

.program-promo::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 302px;
  z-index: -1;
  background-image: linear-gradient(to bottom, $main-color-85 0%, $main-color-85 302px, $contrast-text-color 302px, $contrast-text-color 100%), url("../../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: initial;
    top: -53px;
    right: 0;
    left: 50%;
    height: 696px;
    background-image: linear-gradient(to bottom, $main-color-85 0%, $main-color-85 100%), url("../../img/promo-bg-desk.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.container--grid {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content 1fr;
  }
}

.program-promo__info {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.program-promo__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.program-promo__slogan {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.program-promo__image {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.program-promo__button {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
