.radio-field {
  display: block;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }
}

.radio-field__name {
  position: relative;
  display: flex;
  align-items: center;
}

.radio-field__name::before {
  content: "";
  top: 0;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid $demo-border-color;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.radio-field__input:checked + .radio-field__name::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 8px;
  border-radius: 50%;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

.radio-field__input:disabled + .radio-field__name {
  opacity: 0.3;
}

.radio-field__input:focus-visible + .radio-field__name::before {
  border: 1px solid $main-text-color;
}

.radio-field__input:hover + .radio-field__name::before {
  border: 1px solid $input-hover-color;
}
