.socials {
  list-style: none;
}

.socials__link:hover {
  .socials__icon {
    fill: $main-color;
  }
}

.socials__link:active {
  .socials__icon {
    opacity: 0.3;
  }

  .socials__icon {
    opacity: 0.3;
  }
}
