.socials {
  list-style: none;
}

.footer__socials-link:hover {
  .footer__socials-link--icon {
    fill: $main-color;
  }

  .footer__socials-link--icon-fb {
    stroke: $main-color;
  }
}

.footer__socials-link:active {
  .footer__socials-link--icon {
    opacity: 0.3;
  }

  .footer__socials-link--icon-fb {
    opacity: 0.3;
  }
}
