.sub-catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.sub-catalog__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/3;
    margin-bottom: 0;
  }
}

.sub-catalog__title {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  padding-right: 22px;
  font-family: $main-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $main-text-color;
  background-color: $contrast-text-color;

  &::after {
    position: absolute;
    content: "";
    transform: translateY(50%);
    top: 50%;
    left: 0;
    width: 150vw;
    height: 2px;
    z-index: -1;
    background-color: $main-color;
  }

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-right: 37px;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      position: absolute;
      content: "";
      transform: translateY(50%);
      top: 57%;
      right: 0;
      width: 150vw;
      height: 2px;
      z-index: -1;
      background-color: $main-color;
    }

    &::after {
      top: 57%;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 35px;
    font-size: 36px;
    line-height: 36px;
  }
}

.sub-catalog__item {
  padding: 13px 0 19px;
  border-top: 1px solid $demo-border-color;

  &:last-child {
    border-bottom: 1px solid $demo-border-color;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px;
    border-right: 1px solid $demo-border-color;
    border-left: 1px solid $demo-border-color;
  }

  @media (min-width: $desktop-width) {
    border-right: none;
    border-left: none;
    padding: 14px 0 17px 0;
  }
}

.sub-catalog__aside {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 0;
  }
}
