.text-field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.text-field__name {
  display: block;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }
}

.text-field__input {
  width: 100%;
  padding: 13px 14px 13px;
  box-sizing: border-box;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: $input-border-color solid 1px;
  border: 0;

  &:hover {
    outline: $demo-border-color solid 1px;
  }

  &:focus-within {
    outline: $main-text-color solid 1px;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.text-field--error .text-field__input {
  outline: $error-color solid 1px;
}

.text-field__input--email,
.text-field__input--phone {
  padding-top: 13px;
  padding-right: 43px;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 12px;
  }
}

.text-field__icon {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    top: 49%;
    right: 16px;
  }
}

