.main__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $main-text-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $main-text-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
