// Colors

$accent-bg: #f2f2f2;
$accent-bg-hover: #ebebeb;
$contrast-text-color: #ffffff;
$contrast-text-color-30: rgba(255, 255, 255, 0.3);
$main-color: #68b738;
$main-color-focus: #447a21;
$main-color-hover: #5eaa2f;
$main-color-85: rgba(104, 183, 56, 0.85);
$main-text-color: #000000;
$main-text-color-24: rgba(0, 0, 0, 0.24);
$side-text-color: #444444;
$side-text-color-30: rgba(68, 68, 68, 0.3);
