// Colors

$accent-bg: #f2f2f2;
$accent-bg-hover: #ebebeb;
$contrast-text-color: #ffffff;
$contrast-text-color-30: rgba(255, 255, 255, 0.3);
$demo-border-color: #cdcdcd;
$error-color: #ff8282;
$footer-border-color: #d9d9d9;
$input-border-color: #e7e7e7;
$input-hover-color: #bababa;
$main-color: #68b738;
$main-color-focus: #447a21;
$main-color-hover: #5eaa2f;
$main-text-color: #000000;
$nav-border-color: #e6e6e6;
$plus-element-color: #d3d3d3;
$side-text-color: #444444;
$side-text-color-30: rgba(68, 68, 68, 0.3);
$social-icons: #666666;

// Sizes

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;

// Fonts

$main-font: "Oswald", "Helvetica", sans-serif;
